body {
    background-color: #E7CDB6;
    color:#3B3B3B;
}
h1{
    color: #3B3B3B;
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
}
/* .screen {
    border: 2rem solid #3B3B3B;
    max-width:1000px ;
    padding: 3rem;
    border-radius: 20px;
    background-color: #FAFAFA;
} */

h2{
    color: #3B3B3B;
    font-size: 2rem;
    text-align: center;
    margin: 5px;
}

.reset-start-btns {
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;

}

.front-buttons { 
    height: 60px;
    width: 100px;
    border-radius: 10px;
    margin: 20px;
    font-size: 1rem;
}

#start-btn {
    background-color: #7FD962;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}
#reset-btn {
    background-color: #D86262;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}
.top-display{
    display: flex;
    justify-content: space-between;
}
.level-display {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0px;
}

#level-number {
    width: 7vh;
    height: 7vh;
    border: 5px solid #3B3B3B;
    border-radius: 10px;
    margin: 5px;
    font-size: 5vh;
    text-align: center;
    background-color: white;
}

#level-word {
    color: #3B3B3B;
    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;
}

.whos-turn{
    width: 60%;
    height: 100px;
    border: 5px solid #3B3B3B;
    border-radius: 10px;
    font-size: 2rem;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.keyboard {
    max-width: 1000px;
    color: #3B3B3B;
    display: flex;
    flex-direction: column;
    margin:  0 auto;
    padding: 3rem;
    border-radius: 20px;
}
.row1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.row2 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row3{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key{
    width: 10vh;
    height: 10vh;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2em;
    box-shadow: 0px 7px 14px -7px #3b3b3b;
    border-radius: 10px;
    cursor: pointer;
    color: #3B3B3B;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

/* #q, #a, #z, #p {
    background-color: #F79533;
}

#w, #s, #x, #o, #l {
    background-color: #F49AC1;
}

#e, #d, #c, #i, #k {
    background-color: #FFF317;
}

#r, #f, #v, #u, #j, #m {
    background-color:#6CCFF6;
}
#t, #g, #b, #y, #h, #n {
    background-color: #5DE6A6;
} */
/* 
@media all and (max-width: 1400px) and (orientation:landscape) {
}*/